<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="button_header" class="flex">
      <div class="w-2/6 my-5 block font-medium mb-1">Name</div>
      <div class="w-1/6 my-5 block font-medium mb-1">Group</div>
      <div class="w-1/6 my-5 block font-medium mb-1">Enable</div>
      <div class="w-1/6 my-5 block font-medium mb-1">Seq</div>
    </div>

    <%= render @button %>

    <%= link_to 'Edit this button', edit_button_path(@button), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this button', button_path(@button), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to buttons', buttons_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
