<div id="page_header" class="relative bg-white w-full flex flex-nowrap">
  <div class="m-4 bg-white text-black text-lg font-extrabold text-center flex place-content-center">Show Person with Drinks</div>
  <nav class="bg-white">
    <ul class="absolute right-0 flex place-content-center">
      <li class="m-2 p-2 text-center bg-blue-300 hover:bg-blue-500 border-2 rounded-full border-blue-800"><%= link_to "People", people_path %></li>
    </ul>
  </nav>
</div>

<%= turbo_stream_from @person %>

<p style="color: green"><%= notice %></p>

<%= render @person %>
<%= render "people/orders", person: @person %>

