<turbo-frame id="turbo_request_order">
    <%= form_with url: stores_orderdrink_path, method: :post do |form| %>
    <div class="flex flex-col"> 
        <%= form.hidden_field :id, value:"", :data => { :filter_target => 'requestPersonId' } %>
        <!-- User Display -->
        <div class="flex">
            <i class="fas fa-fw fa-user fa-lg self-center text-white"></i>
            <%= form.text_area :name, readonly: "true", size: "40x1", class: "bg-primary border-0 text-white w-full text-xl", :data => { :filter_target => 'requestName' }, autocomplete: "off" %>
        </div>
        <!-- Coffee Order Display -->
        <div class="flex">
            <i class="fas fa-fw fa-coffee fa-lg self-center text-white"></i>
            <%= form.text_area :drink, readonly: "true", size: "40x1", class: "bg-primary border-0 text-white w-full text-xl", :data => { :filter_target => 'requestDrink' } %>
        </div>
        <div class="flex flex-row w-full justify-center">
            <button data-action="click->filter#backToPeople" class="m-2 py-2 px-4 bg-slate-100 text-primary border border-primary font-bold rounded-full hover:bg-slate-400">Back</button>
            <%= form.submit value: "Submit", :data => { :filter_target => 'submitOrder'},  class: "
            m-2 rounded-full py-2 px-4 font-bold
            bg-secondary text-white 
            hover:bg-white hover:text-secondary border hover:border-secondary
            disabled:bg-slate-200 disabled:text-slate-400 disabled:border-slate-400
            " %>
            <%= form.submit value: "Cancel Order",
            class: "m-2 py-2 px-4 font-bold bg-red-600 border border-white text-white rounded-full hover:bg-white hover:text-red-600", 
            :data => { :filter_target => 'submitCancel',
                            :turbo_confirm => 'Are you sure? Press OK to remove your order or CANCEL to return to previous screen'} %>
        </div>
        <% if flash.notice %>
        <div id="flashNotice" data-filter-target='requestNotice' class="p-2 text-white font-secondary font-bold text-center"><%= flash.notice %></div>
        <% else %>
        <div id="flashNotice" data-filter-target='requestNotice' class="text-white text-center"><%= flash.alert %></div>
        <% end %>   
    </div>
    <% end %>
</turbo-frame>