<turbo-frame id="turbo_front_<%= dom_id person %>">
  <div id="<%= dom_id person %>" class="flex text-black border-2 border-slate-100 text-base p-4 sm:hover:border-primary"
        data-filter-target="person"
        data_person_id ="<%= person.id %>"
        data_name="<%= person.name %>"
    <% if person.last_order %>
        data_order_id="<%= person.last_order.id %>"
        data_order_drink="<%= person.last_order.drink %>"
        data_order_status="<%= person.last_order.status %>"
        data_order_when="<%= time_ago_in_words(person.last_order.created_at) %>"
    <% end %>
  >

      <div data-action="click->filter#selectPerson" 
           class="w-full text-2xl sm:w-2/5 sm:px-1 sm:mx-1 truncate">
        <%= person.name %>
      </div>

    <% if person.last_order %>
      <div class="invisible text-2xl sm:visible w-0 sm:w-1/5 border border-white sm:px-1 sm:mx-1 truncate"><%= person.last_order.drink  %></div>
      <div class="invisible text-2xl sm:visible w-0 sm:w-1/5 border border-white sm:px-1 sm:mx-1 truncate"><%= person.last_order.status %></div>
      <div class="invisible text-2xl sm:visible w-0 sm:w-1/5 border border-white sm:px-1 sm:mx-1 truncate"><%= time_tag person.last_order.created_at,
              "data-local":"time-ago" %></div>
    <% else %>
      <div class="invisible text-2xl sm:visible w-0 sm:w-1/5 border border-white sm:px-1 sm:mx-1"></div>
      <div class="invisible text-2xl sm:visible w-0 sm:w-1/5 border border-white sm:px-1 sm:mx-1"></div>
      <div class="invisible text-2xl sm:visible w-0 sm:w-1/5 border border-white sm:px-1 sm:mx-1"></div>
    <% end %>
    
  </div>
</turbo-frame>
