<turbo-frame id="turbo_request_<%= dom_id order %>">
  <%   colourNew                   = "cyan-500"
       colourReady                 = "secondary"
       colourDone                  = "primary"
       colourCancelled             = "red-600"
       dummyValueForTailwindToFind = "border-red-600"
  %>
  <% if order.status == "new" %>
    <div class="bg-white my-2 p-2 border-l-4 border-solid border-<%= colourNew %>" >
  <% elsif order.status == "ready" %>
    <div class="bg-white my-2 p-2 border-l-4 border-solid border-<%= colourReady %>" >
  <% elsif order.status == "done" %>
    <div class="bg-white my-2 p-2 border-l-4 border-solid border-<%= colourDone %>" >
  <% elsif order.status == "cancelled" %>
    <div class="bg-white my-2 p-2 border-l-4 border-solid border-<%= colourCancelled %>" >
  <% end %>
        <%= form_with url: stores_updatestatus_path, method: :post do |form| %> 
            <% if flash.notice %>
                <div id="flashNotice" style="color: green"><%= flash.notice %></div>
            <% else %>
                <div id="flashNotice" style="color: red"><%= flash.alert %></div>
            <% end %>
            <div id="<%= dom_id order %>" 
                data-brewster-target="order"
                data-ready-target="order" 
                data-status="<%= order.status %>"
                data-drink="<%= order.drink %>"
                class="flex items-center text-2xl w-full justify-between">
                
                <%= form.text_area :id, size: "10x1", class: "hidden", :data => { :filter_target => 'orderId' }, value: order.id %>
                
                <div class="hidden w-1/12 break-normal block font-medium mb-1">
                <%= order.id %>
                </div>
                
                <div class="flex items-center content-center w-3/12 break-normal block font-medium pl-2">
                    <span class="fas fa-user my-2 mx-4"></span>
                    <span><%= order.person.name %></span>
                </div>

                <%= form.text_area :orderDrink, size: "40x1", class: "hidden", :data => { :filter_target => 'orderDrink' }, value: order.drink %>                
                <div class="flex items-center content-center w-3/12 break-normal block font-medium mb-1">
                    <span class="fas fa-coffee m-2"></span>
                    <span><%= order.drink %></span>
                </div>

                <div class="hidden w-1/12 break-normal block font-medium mb-1">
                    <%= order.status %>
                </div>  

                <div class="flex w-5/12 h-12">
                    <% if order.status != "cancelled" %>
                        <% if order.status == "new" %>
                            <%= form.submit "New",    disabled: true, value: "New", class:"w-2/6 bg-cyan-500 border-cyan-500 border-2 rounded-l-full text-white font-bold py-1 px-4", :data => { :filter_target => 'setNew'} %>
                        <% else %>
                            <%= form.submit "New",                                  class:"w-2/6 bg-white border-cyan-500 border-2 rounded-l-full text-cyan-500 font-bold py-1 px-4", :data => { :filter_target => 'setNew'} %>  
                        <% end %>

                        <% if order.status == "ready" %>
                            <%= form.submit "Ready",    disabled: true, value: "Ready", class:"w-2/6 bg-secondary border-secondary border-2 rounded-none text-white font-bold py-1 px-4", :data => { :filter_target => 'setReady'} %>
                        <% else %>
                            <%= form.submit "Ready",                                    class:"w-2/6 bg-white border-secondary border-2 rounded-none text-secondary font-bold py-1 px-4", :data => { :filter_target => 'setReady'} %>  
                        <% end %>

                        <% if order.status == "done" %>
                            <%= form.submit "Done",    disabled: true, value: "Done", class:"w-2/6 bg-primary border-primary border-2 rounded-r-full text-white font-bold py-1 px-4", :data => { :filter_target => 'setDone'} %>
                        <% else %>
                            <%= form.submit "Done",                                   class:"w-2/6 bg-white border-primary border-2 rounded-r-full text-primary font-bold py-1 px-4", :data => { :filter_target => 'setDone'} %>  
                        <% end %>
                    <% else %>
                        <p class="leading-tight self-center">This drink has been cancelled. Remove from list?</p><%= form.submit "doDelete", value: "Remove", class:"w-2/6 mx-1 bg-red-600 border-bg-red-600 border-2 rounded-full text-white font-bold py-1 px-4", :data => { :filter_target => 'doDelete'} %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</turbo-frame>
    
    