<h1 class="text-center text-2xl font-bold">Application Administration and Maintenance</h1>

<p class="max-w-fit bg-blue-300 px-2 border-white border-2 rounded-full font-bold"><%= link_to "Admin", stores_admin_path %></p>
<p>This page.</p>
<br>
<p class="max-w-fit bg-blue-300 px-2 border-white border-2 rounded-full font-bold"><%= link_to "Front", stores_front_path %></p>
    Provide the Front Counter view: Where orders are placed.</p>
<br>
<p class="max-w-fit bg-blue-300 px-2 border-white border-2 rounded-full font-bold"><%= link_to "Brewster", stores_brewster_path %></p>
    Provide the brewster view: Where orders are filled.</p>
<br>
<p class="max-w-fit bg-blue-300 px-2 border-white border-2 rounded-full font-bold"><%= link_to "Ready", stores_ready_path %></p>
    Provide the Ready view: Display drinks that are ready.</p>
<br>
<p class="max-w-fit bg-blue-300 px-2 border-white border-2 rounded-full font-bold"><%= link_to "Manage People", people_path %></p>
    Provide capability to change the name of a person.</p>
<br>
<div class="bg-red-200">
<p class="max-w-fit bg-blue-300 px-2 border-white border-2 rounded-full font-bold"><%= link_to "Manage Buttons", buttons_path %></p>
<p>Provide capability to manage the drink buttons - their names and relationships.</p>
<p class="font-extrabold">DO NOT MANAGE BUTTONS unless your are VERY CERTAIN of what you are doing.</p>
</div>
    