<div id="brewster" class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-primary font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div data-controller="brewster">
    
    <section id="page_header" class="relative flex felx-row justify-between bg-primary w-full">
      <div class="m-4 text-white text-xl font-new font-extrabold text-center flex place-content-center"><%= link_to "GCC App - Order Drinks", "front" %></div>
      <nav class="bg-secondary">
        <ul class="flex flex-row">
          <li class="max-sm:hidden m-4 text-white font-secondary hover:underline"><%= link_to "Front", "front" %></li>
          <li class="max-sm:hidden m-4 text-white font-secondary hover:underline"><%= link_to "Ready", "ready" %></li>
          <li class="max-sm:hidden m-4 text-white font-secondary hover:underline"><%= link_to "Admin", stores_admin_path %></li>
        </ul>
      </nav>
    </section>
    <div id="outer container" class="flex min-h-[94lvh]">
      <section class="hidden w-2/12">
        <div data-action="click->brewster#findSelectedDrink" data-brewster-target="drinkTemplate" data-drink="drinkPlaceHolder" class="flex font-bold py-2 px-4 rounded">
          <div class="mx-1 w-5/6"></div>
          <div class="mx-1 w-1/6"></div>
        </div>
      </section>
      <section class="bg-primary w-3/12 border-t-4 border-slate-100" data-brewster-target="drinkSection" data-show="">
        <h1 class="m-4 text-white text-xl">New Orders</h1>
        <div data-action="click->brewster#findSelectedDrink" data-brewster-target="drink" data-drink="Spacer" class="flex hover:bg-secondary text-white font-bold py-2 px-4 rounded">
          <div class="mx-1 w-5/6"></div>
          <div class="mx-1 w-1/6"></div>
        </div>
      </section>
      
      <div id="right container" class="flex flex-col w-10/12">
        <section class="flex justify-between m-2 w-12/12">
          <div class="flex items-center mt-2" data-brewster-target="statusSection" data-showStatus="new ready done">
            <h1 class="font-bold text-2xl mr-4">Filter:</h1>
            <button data-action="click->brewster#getOrders"  class="hidden mx-2 bg-yellow-500 text-white text-2xl font-bold py-2 px-4 rounded">Get Orders</button>
            <button data-action="click->brewster#showStatus" data-status="new"   data-brewster-target="showStatus" class="mx-2 bg-cyan-500 text-white text-2xl border-cyan-500 border-2 font-bold py-2 px-4 rounded-full flex flex-row"><div class="mr-2"><span class="fa-solid fa-check text-white"></span></div>  New</button>
            <button data-action="click->brewster#showStatus" data-status="ready" data-brewster-target="showStatus" class="mx-2 bg-secondary text-white text-2xl border-secondary border-2 font-bold py-2 px-4 rounded-full flex flex-row"><div class="mr-2"><span class="fa-solid fa-check text-white"></span></div>  Ready</button>
            <button data-action="click->brewster#showStatus" data-status="done"  data-brewster-target="showStatus" class="mx-2 bg-primary text-white text-2xl border-primary border-2 font-bold py-2 px-4 rounded-full flex flex-row"><div class="mr-2"><span class="fa-solid fa-check text-white"></span></div>  Done</button>
          </div>
        </section>
      
        <section class="m-2 w-12/12">
          <%= turbo_stream_from 'orders' %>
          <div id="orders" class="flex flex-col w-12/12">
            <% @orders.each do |order| %>
              <%= render "order", order: order %>
            <% end %>
          </div>
        </section>
      </div>
    </div> 
  </div>
</div>
